:root{
   --first-color: #0d1f23;
   --second-color: #132e35;
   --third-color: #2d4a53;
   --fourth-color: #69818d;
   --fifth-color: #afb3b7;
   --sixth-color: #5a636a;
   --seventh-color: #0a6375;
   --eighth-color: #1d7d91;
   --background-: #f0f5fb;
   --background-odd: #f3f3f3;
}



/* ---------- MAIN -------- */




/*   -------- TABLE ----- */

   .container_table{
      margin-top: 1rem;
      width: 93vw;
      width: min(80.8rem,93vw);
      /* width: min(93vw,61.8rem);
      width: max(93vw,61.8rem); */
   }

         .container_header_table ,
         .row_body_table {
            width: 79rem;
            display: grid;
            grid-template-columns: 3rem repeat(2,10rem) repeat(3,8rem) 13rem;
            grid-template-columns: 3rem repeat(2,10rem) repeat(3,8rem) 13rem 7rem 9rem 3rem;
         }
                 
            .div_row_table:nth-child(1){
               margin-left: .3rem;
            }


@media screen and (min-width: 880px){ 

   .container_table{
      width: min(80.8rem,calc(93vw - 16rem))
   }

}