
:root{
   --first-color: #0d1f23;
   --second-color: #132e35;
   --third-color: #2d4a53;
   --fourth-color: #69818d;
   --fifth-color: #afb3b7;
   --sixth-color: #5a636a;
   --seventh-color: #0a6375;
   --eighth-color: #1d7d91;
   --ninth-color: #51abbd;
   --text-color: #51585e;
   --background-: #f0f5fb;
   --background-odd: #f3f3f3;
}



.container_table{
   width: min(56.9rem,90vw);
}
.container_content_table{
   overflow-y: scroll;
   overflow-x: auto;
}
.container_header_table,
.row_body_table{
   width: 54rem;
   display: grid;
   grid-template-columns: 2rem repeat(7,12rem);
   grid-template-columns: 2rem repeat(2,6rem) 8rem 7rem  10rem 12rem 3rem;
}
   .row_body_table{
      justify-items: center;
   } 

/* ------- FORM ------- */


   .btn_form_cancel{
      background-color: var(--sixth-color);
   }


@media screen and (min-width: 880px){ 

   .container_table{
      width: min(56.9rem,calc(90vw - 16rem))
   }

}